* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  background-color: transparent;
}
a:active,
a:hover,
a:visited {
  outline: 0;
}

body {
  font-family: sans-serif;
  background: #1e1e20;
  overflow-x: hidden;
  color: #fff;
}
::selection {
  background: rgba(51, 51, 51, 0.75);
  color: #eee;
}
:root {
  --primary: #138db9;
  --secondary: #0b5772;
  --tertiary: #16ade3;
}
/* Header */
.header-nav {
  width: 100%;
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}
.header-nav-logo {
  line-height: 1;
  font-weight: 500;
  font-size: 30px;
  text-decoration: none;
  color: #fff;
}
.header-nav-logo span {
  display: block;
  color: var(--tertiary);
  font-size: 22px;
  transition: color 0.25s ease-out;
}
.header-nav-logo:hover span {
  color: var(--secondary);
}
.header-nav-about {
  font-size: 20px;
  font-weight: 500;
  padding: 0.8rem;
  line-height: 1;
  color: #fff;
  transition: color 0.25s ease-out;
}
.header-nav-about:hover {
  color: var(--secondary);
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  min-height: 420px;
  width: 100%;
}
.main-title {
  display: flex;
  align-items: center;
  margin: auto;
  background-color: var(--primary);
  transition: background-color 1s ease;
}
.main-title h1 {
  margin: auto;
  line-height: 1;
  font-size: 50px;
  font-weight: 500;
  padding: 0 40px;
}
/* Projects */
.projects {
  text-align: center;
  margin: 25px auto 30px;
  max-width: 1200px;
}
.projects-title {
  font-size: 25px;
  margin: auto;
}
.projects-title span {
  color: var(--tertiary);
}
.projects-list {
  width: 100%;
  margin: auto;
  transition: all 1s;
}
.project-item {
  position: relative;
  display: grid;
  place-items: center;
  width: clamp(250px, 40vw, 350px);
  height: 200px;
  margin: 25px auto;
  background: cover no-repeat center center;
  cursor: pointer;
}
.project-item::after {
  position: absolute;
  content: "";
  background: var(--primary);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.3;
  transition: all 0.25s ease;
}
.project-item:hover::after {
  background-color: #106d8f;
}
.project-item img {
  z-index: 3;
  position: absolute;
  width: 70%;
}
.project1 img {
  width: 40%;
}
.project3 img {
  width: 60%;
}
.project1 {
  background: url(./img/bg-portfolio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s all ease-in-out;
}
.project2 {
  background: url(./img/bg-beachcycle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s all ease-in-out;
}
.project3 {
  background: url(./img/bg-banksearch.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  transition: 0.5s all ease-in-out;
}
.item-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* Footer */
.contact {
  text-align: center;
  background-color: var(--primary);
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 30px;
}
.contact-title {
  font-size: 20px;
  color: #1e1e20;
  margin: 15px;
}
.contact-link {
  margin: 15px auto;
  font-size: 70px;
}
.contact-link a {
  color: #fff;
  transition: color 0.25s ease-out;
}
.contact-link:hover a {
  color: rgb(6, 43, 57);
}

/* Social */
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.social-item {
  margin: 1rem;
}
.social-item svg {
  height: 1.5rem;
}
.social-item svg path {
  transition: all 0.25s ease-out;
  fill: #bebebe;
}
.social-item:hover svg.icon-github path {
  fill: #767676;
}
.social-item:hover svg.icon-linkedin path {
  fill: #2088af;
}
.social-item:hover svg.icon-codepen path {
  fill: #fcd000;
}
.copyright {
  display: flex;
  justify-content: center;
  color: #bebebe;
}

/* About */
.about-me {
  max-width: 1200px;
  margin: 3rem auto 0;
  padding: 2rem;
}
.about-me h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.about-me h1 span {
  color: var(--tertiary);
}
.about-me p {
  font-size: 1.5rem;
  padding: 1rem 0;
  line-height: 1.6;
}
.about-me p a {
  color: var(--tertiary);
  transition: color 0.25s ease-out;
}
.about-me p a:hover {
  color: var(--secondary);
}

/* Skills */
.tools {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}
.tools-h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.tools-h2::after {
  content: "_";
  color: var(--tertiary);
  font-size: 2rem;
}
.tools-1,
.tools-2,
.tools-3 {
  display: flex;
  width: 100%;
  align-items: baseline;
}
.tools-1a,
.tools-2a,
.tools-3a {
  color: var(--tertiary);
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.25rem;
  min-width: 250px;
  margin: 1rem 0;
}
.tools-1b,
.tools-2b,
.tools-3b {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 1.25rem;
}

.tools-1b h4,
.tools-2b h4,
.tools-3b h4 {
  flex: 0 1 200px;
  margin: 1rem;
}
.cert-1 {
  color: #fff;
  transition: color 0.25s ease-out;
}
.cert-1:hover {
  color: var(--secondary);
}

.tools-3b {
  flex-direction: column;
}
.tools-3b h4 {
  margin-bottom: 10px;
  flex: 0;
}

/* Responsive */
@media screen and (min-width: 768px) {
  .main-title h1 {
    font-size: 65px;
    font-weight: 400;
  }
  .projects-list {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    transition: all 1s;
  }
  .project-item {
    height: 200px;
    margin: 25px 20px 10px;
  }
  .contact {
    display: flex;
    text-align: left;
    align-items: center;
    padding: 30px 15px;
  }
  .contact-title {
    flex: 1;
    font-size: 30px;
    padding-left: 20px;
  }
  .contact-link {
    flex: 1;
    font-size: 100px;
  }
}

@media screen and (max-width: 600px) {
  .tools-1,
  .tools-2,
  .tools-3 {
    display: block;
    margin-bottom: 30px;
  }
  .tools-1b,
  .tools-2b,
  .tools-3b {
    display: block;
  }
}
